body {
    background: rgb(46, 46, 46);
    margin: 0;
    padding: 0;
}

* {
    box-sizing:border-box;
}

.nav {
    background-color: rgb(34, 34, 34);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
}

.nav a:hover {
    color: whitesmoke;
    background-color: #7e5e92;
}

.nav .active {
    color: whitesmoke;
}
.nav a.active {
    background-color: #7e5e92;
}

.flip-card-middle {
    width: 300px;
    height: 450px;
    margin: auto;
}

.flip-card-back {
    background-color: rgb(34, 34, 34);
    color: Whitesmoke;
    transform: rotateY(180deg);
    z-index: 1;
}

.flip-card-back .fc-back-header {
    height: 45%;
    text-align: center;
}

.flip-card-back .fc-back-header img {
    width: 50%;
    margin-top: 20px;
}

.flip-card-inner {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-back, .flip-card-front {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.flip-card-middle:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-back .fc-back-footer {
    height: 55%;
    padding: 0 15px;
    text-align: center;
}

.fc-back-footer a {
    width: 100px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    padding: 7px 5px;
    margin-top: 30px;
    transition: 0.5s;
}

.fc-back-footer a:hover {
    background-color: whitesmoke;
    border: 1px solid red;
    color: red;
}

.column {
    float: left;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    color: black;
    background-color: whitesmoke;
    border: 50px solid rgb(36, 36, 36);
}

.videogamename {
    color: #7e5e92;
    text-align: center;
    font-size: 45px;
}

.header {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
}

.topname {
    font-size: 45px;
    border: 5px solid #7e5e92;
    background-color: #7e5e92;
    border-radius: 8px;
    text-align: center;
}

.row {
    padding-top: 20px;
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column-01, .selfie {
    width: 100%;
    text-align: center;
    }
    .selfie img {
        margin: auto;
    }
}

.footer {
    background-color: black;
    float: left;
    width: 100%;
}