body {
    background: rgb(46, 46, 46);
    margin: 0;
    padding: 0;
}

* {
    box-sizing:border-box;
}

.nav {
    background-color: rgb(34, 34, 34);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
}

.nav a:hover {
    color: whitesmoke;
    background-color: #7e5e92;
}

.nav .active {
    color: whitesmoke;
}
.nav a.active{
    background-color: #7e5e92;
}

.column {
    float: left;
    width: 33.33%;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    background-color: whitesmoke;
}

.backgroundimage {
    padding-top: 60px;
    text-align: center;
}

.topheading {
    left: 50%;
    top: 50%;
}

.topname {
    font-size: 45px;
    border: 5px solid #7e5e92;
    background-color: #7e5e92;
    border-radius: 8px;
    text-align: center;
}

.head3 {
    text-align: center;
}

.row {
    background-color: whitesmoke;
    color: whitesmoke;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column-01, .selfie {
    width: 100%;
    text-align: center;
    }
    .selfie img {
        margin: auto;
    }
}

.footer {
    background-color: black;
    float: left;
    width: 100%;
}